* {
    color: darkslategrey;
}

body {
    background-color: white;
}

input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

#kanjiDisplayKanji, .wordDisplayWordElement span {
    color: gray;
}

.yomiContainer.extendable {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#wordDisplayGrammar {
    color: silver;
}

#filtersIndicator {
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
}

#wordsListTrainerIcon {
    background-color: rgba(255, 255, 255, 1);
}

#wordsListContainer {
    background-color: rgba(255, 255, 255, 0.95);
}

#wordsListFilterModal, #wordsListTrainingModal {
    background-color: rgba(255, 255, 255, 0.9);
}

.listIndicator {
    background-color: rgba(0, 0, 0, 0.025);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.025);
}

.kanjisListElement.selected {
    background-color: rgba(0, 0, 0, 0.033);
}

.vocabularyListElement.selected {
    background-color: rgba(0, 0, 0, 0.033);
}

.importance2 {
    background-color: rgba(238,232,170, 0.3);
}
.importance1 {
    background-color: rgba(238,232,170, 0.2);
}

#selector {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.kanjisListElementContainer.open {
    border-bottom: 1px solid rgba(255, 183, 197, 0.5);
}
.vocabularyListElementContainer.open {
    border-bottom: 1px solid rgba(255, 183, 197, 0.5);
}