@keyframes emphasize {
  0% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease-out;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: none;
  border: none;
  width: 100%;
  font-size: 16px;
}
input:focus {
  outline: none;
}

#header {
  z-index: 1000;
  height: 20vw;
  width: 100vw;
  position: fixed;
  top: 0;
  display: none;
}

.hiddenElement {
  opacity: 0;
}
.hiddenElement.selected {
  opacity: 1;
}
.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.clickable:hover {
  cursor: pointer;
}

.App {
  text-align: center;
  height: 100vh;
}

#logoContainer {
  width: 6%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0.25;
}

.tooltip {
  font-size: 14px;
  opacity: 0.5;
}

/* ------------------------------------------------ MAIN DISPLAY ------------------------------------------------ */

#mainDisplay {
  z-index: 800;
  padding-top: 2vh;
  position: fixed;
  width: 100%;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#kanjiDisplay, #wordDisplay {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#kanjiDisplayKanji {
  line-height: 38vh;
}
#kanjiDisplayKanji, #wordDisplayWord {
  font-size: calc(80px + 20vh);
  font-family: source-han-sans-simplified-c;
}
#kanjiDisplayTranslation, #wordDisplayTranslation {
  font-size: 24px;
  font-weight: 100;
  padding: 0px 20px;
  white-space: nowrap;
  overflow-x: scroll;
}
#wordDisplayWord, #wordDisplayWordJukujikun {
  height: 38vh;
  width: 100%;
  font-size: calc(40px + 10vh);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
#wordDisplayWordJukujikun {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#wordDisplayWordKanjiOnly {
  display: flex;
}
.wordDisplayWordElement {
  display: flex;
  flex-direction: column;
}
.wordDisplayWordElement span {
  white-space: nowrap;
}
.wordDisplayWordElementYomi {
  font-size: calc(10px + 2.5vh);
  line-height: calc(10px + 2.5vh);
  height: calc(20px + 5vh);
}
.wordDisplayWordElementYomi.jukujikun div {
  font-size: 16px;
  opacity: 0.5;
}

/* ------------------------------------------------ KANAS & KANJIS ------------------------------------------------ */

#kanas, #kanjis {
  z-index: 900;
  height: 24vh;
  width: 67.5%;
  font-size: 20px;
  margin: 2vh 16.25% 0 16.25%;
  overflow-y: scroll;
  font-family: source-han-sans-simplified-c;
}
#kanas.expanded, #kanjis.expanded {
  height: 48vh;
}
#kanasExamples {
  padding: 0px 20px;
  justify-content: space-between;
}
#kunyomiExamples, #onyomiExamples {
  margin-top: 1vh;
  text-align: left;
}
.yomiContainer {
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.5;
}
.yomiContainer.extendable {
  opacity: 1;
}
.yomiHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yomiHeader span, .yomiSingleExampleJapanese {
  white-space: nowrap;
}
.yomiExpander {
  height: 12px;
  opacity: 0.5;
  transform: rotate(180deg);
}
.yomiExpander.open {
  transform: rotate(0deg);
}
.yomiExamples {
  display: flex;
  flex-direction: column;
  padding-top: 0.75vh;
}
.yomiSingleExample {
  display: flex;
  justify-content: space-between;
  height: 0px;
  overflow-y: hidden;
}
.yomiSingleExample.open {
  height: 56px;
}
.yomiSingleExampleJapanese, .yomiSingleExampleTranslation {
  display: flex;
}
.yomiSingleExampleJapanese, .yomiSingleExampleTranslation, .kanasReadingsHeader {
  font-size: 16px;
}
.kanasSingleExampleKanas {
  opacity: 0.5;
}
.yomiSingleExampleTranslation {
  opacity: 0.5;
  white-space: normal;
  text-align: right;
}
.yomiSingleExampleJapanese div {
  display: flex;
  flex-wrap: nowrap;
}
.yomiSingleExampleKanjiKana {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
}
.yomiSingleExampleKana {
  opacity: 0.5;
}
.kanjisElement {
  display: flex;
  padding: 0px 20px;
}
.kanjisElementKanji {
  width: 25%;
  text-align: left;
  font-size: 32px;
}
.kanjisElementKana {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 16px;
}
.kanjisElementKana div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.kanjisElementKana span {
  white-space: nowrap;
}
.kanjisListTranslation {
  opacity: 0.5;
}

/* ------------------------------------------------ TRAINING CONTROLS ------------------------------------------------ */

#selectorAndControls {
  display: flex;
  flex-direction: column;
  height: 14vh;
  justify-content: space-between;
}
#selector {
  z-index: 1000;
  width: 67.5%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 1vh 10px;
}
#selector span {
  font-size: 20px;
  display: flex;
  align-items: center;
  opacity: 0.25;
}
#selector span.selected {
  opacity: 0.5;
}
#selector img {
  height: 20px;
}
#controls {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 67.5%;
  margin: 0px auto;
  padding: 0px 10px;
}
#controls div {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.5;
}
#trainingClose {
  opacity: 0.5;
}
#trainingFilters {
  width: 16px;
  display: flex;
  flex-direction: column;
}
#trainingFilters span {
  white-space: nowrap;
}
#controls img {
  height: 20px;
}

/* ------------------------------------------------ SIDE PANEL ------------------------------------------------ */

#wordsListContainer {
  display: flex;
  flex-direction: column;
  z-index: 1100;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 100vw;
  justify-content: flex-start;
  padding: 24px 24px 24px 24px;
}
#wordsListContainer.open {
  left: 0vw;
}

/* ------------------------------------------------ SIDE PANEL HEADER ------------------------------------------------ */

#wordsListHeader {
  position: relative;
  z-index: 1200;
  height: 120px;
  padding-bottom: 10px;
}
#wordsListTrainerIcon, #wordsListFilterIcon {
  z-index: 1000;
  position: absolute;
  bottom: 62px;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wordsListFilterIcon img {
  transform: rotate(45deg);
}
#wordsListTrainerIcon img.open {
  opacity: 1;
}
#wordsListFilterIcon img.open {
  transform: rotate(0deg);
}
#wordsListTrainerIcon {
  left: 2px;
}
#wordsListFilterIcon {
  right: 8px;
  pointer-events: none;
}
#wordsListFilterIcon img.focused {
  animation-name: emphasize;
  animation-duration: 0.4s;
}
#wordsListTrainerIcon img, #wordsListFilterIcon img {
  height: 16px;
  opacity: 0.5;
}
#wordsListFilters {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wordsListHeaderRow {
  height: 20px;
  padding: 0vw 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wordsListFilters span {
  opacity: 0.5;
}
#wordsListFilters span.selected {
  opacity: 1;
}
#wordsListFilters img {
  height: 14px
}
#filtersIndicator {
  font-size: 14px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}
#filtersIndicator span {
  width: 90%;
  text-align: center;
}
#filtersTabs {
  opacity: 0;
  pointer-events: none;
}
#filtersTabs.open {
  opacity: 1;
  pointer-events: all;
}
#wordsListSearchContainer {
  position: relative;
  padding-left: 8vw;
}
#wordsListOpener {
  z-index: 2000;
  height: 20px;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  top: 24px;
  left: -64px;
}
#wordsListOpener.open {
  transform: rotate(90deg);
  left: 10px;
}
#wordsListSearch {
  position: relative;
  padding: 24px 20px 0px 20px;
  height: 56px;
  overflow-y: hidden;
}
#wordsListSearch img {
  height: 16px;
  position: absolute;
  right: 20px;
  opacity: 0.25;
}
#wordsListSearch img.close {
  height: 12px;
}

#wordsListFilterModal, #wordsListTrainingModal {
  opacity: 0;
  position: absolute;
  left: 0px;
  overflow-y: hidden;
  height: 0vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#wordsListTrainingModal {
  z-index: 1600;
  top: 75px;
}
#wordsListFilterModal {
  z-index: 1500;
  top: 100px;
  padding-top: 20px;
}
#wordsListFilterModal.open, #wordsListTrainingModal.open {
  opacity: 1;
  height: 100vh;
}
#wordsListFilterModal span, #wordsListTrainingModal span {
  margin-top: 20px;
  opacity: 0.5;
}
#wordsListFilterModal span.selected, #wordsListTrainingModal span.selected {
  opacity: 1;
}

/* ------------------------------------------------ SIDE PANEL LISTS ------------------------------------------------ */

.listIndicator {
  height: 20px;
  line-height: 20px;
  overflow-y: hidden;
  opacity: 0.75;
  font-size: 14px;
  position: relative;
  border-radius: 10px;
}
.listIndicator img {
  height: 12px;
  position: absolute;
  right: 20px;
  bottom: 4px;
}
.listIndicator.closed img {
  transform: rotate(180deg);
}
.noElementsFilteredIndicator {
  margin-top: 20%;
  opacity: 0.5;
  font-size: 14px;
  order: 10;
}
.wordsListList {
  /* 144px is half of the height of the filters+search */
  height: calc(45vh - 144px);
  position: relative;
  padding-top: 1vh;
  padding-bottom: 3vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -webkit-mask: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
  mask: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
}
.wordsListList.extended {
  height: calc(90vh - 288px);
}
.wordsListList.closed {
  height: calc(0vh - 0px);
  overflow-y: hidden;
  padding: 0;
}
.importance2 {
  order: 1 !important;
}
.importance1 {
  order: 2 !important;
}
#kanjisList {
  margin-bottom: 24px;
}
.kanjisListElementContainer {
  height: 0px;
  overflow: hidden;
  flex-shrink: 0;
  order: 3;
}
.kanjisListElementContainer.open {
  height: 54px;
}
.kanjisListElement {
  display: flex;
  padding: 10px 20px;
}
.kanjisListElementKanji {
  width: 25%;
  text-align: left;
  font-size: 28px;
}
.kanjisListElementKana {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.kanjisListElementKana div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.kanjisListElementKana span {
  white-space: nowrap;
}
.kanjisListElementTranslation {
  width: 100%;
  opacity: 0.5;
  white-space: nowrap;
}
.vocabularyListElementContainer {
  height: 0px;
  overflow: hidden;
  flex-shrink: 0;
  order: 5;
}
.vocabularyListElementContainer.open {
  height: 54px;
}
.vocabularyListElement {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.vocabularyListElementJapanese {
  display: flex;
  white-space: nowrap;
  font-size: 16px;
}
.vocabularyListElementJapaneseJukujikun {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vocabularyListElementKanjiKana {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.vocabularyListElementKanjiOnly {
  display: flex;
}
.vocabularyListElementKana {
  opacity: 0.5;
}
.vocabularyListElementTranslation {
  display: flex;
  font-size: 16px;
  opacity: 0.5;
  white-space: normal;
  text-align: right;
}

/* ------------------------------------------------ DESKTOP VIEW ------------------------------------------------ */

@media (min-aspect-ratio: 1/1) {
  #mainDisplay {
    padding-top: 5vh;
  }
  #logoContainer {
    width: 3%;
    bottom: 20px;
  }
  #kanjiDisplayTranslation, #wordDisplayTranslation {
    font-size: 32px
  }
  #kanas, #kanjis {
    height: 32vh;
    font-size: 28px;
  }
  #kanjis {
    width: 33.75%;
  }
  #kanas.expanded, #kanjis.expanded {
    height: calc(46vh - (2vw - 50px));
  }
  #kanasExamples {
    display: flex;
  }
  #kunyomiExamples, #onyomiExamples {
    margin-top: 0px;
    width: 50%;
  }
  #onyomiExamples {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #onyomiExamples .yomiContainer {
    flex-direction: row-reverse;
  }
  #onyomiExamples .yomiHeader {
    flex-direction: row-reverse;
  }
  #onyomiExamples .yomiSingleExample {
    flex-direction: row-reverse;
  }
  #onyomiExamples .yomiSingleExampleTranslation {
    text-align: left;
  }
  .yomiContainer {
    width: 90%;
  }
  #selector {
    justify-content: space-evenly;
    padding: 1vh 0px;
  }
  #controls {
    padding: 0vh 0px;
  }
  #wordsListContainer {
    width: 33vw;
    background: none;
  }
  #wordsListContainer.open {
    left: 67vw;
  }
  #wordsListSearchContainer {
    padding-left: 0vw;
  }
  .wordsListList {
    /* 156px is half of the height of the filters+search */
    height: calc(50vh - 144px);
  }
  .wordsListList.extended {
    height: calc(100vh - 288px);
  }
  #mainDisplay.compressed {
    width: 67%;
  }
  #wordsListFilters {
    padding-left: 0;
  }
  #wordsListOpener.open {
    left: -32px;
  }
}

